# Node
node_modules/

# Build outputs
roadsos-app/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
server/.env

# Uploads
server/uploads/

# Editor
.vscode/
.DS_Store
